HTTP_HOST=http://${CURRENT_DIR_NAME}.127.0.0.1.xip.io/
BASE_PATH=/
DB_HOST=db
DB_USER=root
DB_PASSWORD=
COMPOSER_VERSION=2.2
MAGENTO_EE_PATH=
GIT_CE_REPO=git@github.com:magento/magento2.git
GIT_EE_REPO=
GIT_BRANCH=2.2
CONFIG_GIT_WORKTREE_CE_PATH=../repo
CONFIG_GIT_WORKTREE_EE_PATH=../repo/magento2ee
REMOTE_DB_HOST=localhost:3306
REMOTE_HOST=
REMOTE_KEY=
LOCAL_PORT=62023
REMOTE_DB=magento_23dev
REMOTE_DB_PASSWORD=
